body {
	margin-top: 0;	
	scroll-behavior: smooth;
	background-color: rgb(255, 204, 153);
	overflow-y: hidden;
}

#wrapper {
	display: flex;
	flex-direction: row;
}

.artboard {
	position: relative;
	min-width: 2500px;
	height: 100vh;
	display: flex;
	align-items: center;
}

/* .artboard-item {
	position: absolute;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
} */

/*Artboard 1*/

#ab1_entrance { 
	width: 1000px;
    height: 250px;
	grid-area: one_frame_container; 
	background-image: url(/tapestry/graphics/tapestry_entrance.png);
	background-size: 80%;
	left: 50px;
}	



#ab1_medium_frame {
	width: 500px;
    height: 450px;
	background-image: url(/tapestry/graphics/medium_rectangle_frame.png);
	background-size: 90%;
	left: 1500px;
}


/*Artboard 2*/

.artboard-item {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.artboard-item .artwork {
	position: relative;
}

.artboard-item .artwork .frame {
	width: 115%;
    height: 115%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	left: -25px;
	top: -30px;
	position: absolute;
}

.art-text {
	padding: 2rem;
	max-width: 250px;
}

#ab2_medium_rectangle_vertical_frame_1 .artwork {
	background-image: url('https://placekitten.com/394/451');
	width: 394px;
	height: 451px;
}

#ab2_medium_rectangle_vertical_frame_1 .artwork .frame {
	background-image: url('/tapestry/graphics/medium_rectangle_vertical_frame.png');
}

#ab1_medium_frame .artwork {
	width: 183px;
    height: 452px;
	background-image: url('https://placekitten.com/183/452');
	/* background-size: 50%; */
	/* left: 590px; */
}

#ab1_medium_frame .artwork .frame {
	background-image: url('/tapestry/graphics/split_frame_1.png');
}

#ab2_medium_frame {
	width: 500px;
    height: 650px;
	background-image: url(/tapestry/graphics/medium_rectangle_frame.png);
	left: 1000px;
}

#ab2_split_frame_2 {
	width: 400px;
    height: 550px;
	background-image: url(/tapestry/graphics/split_frame_1.png);
	background-size: 50%;
	left: 1510px;
}

#ab2_medium_rectangle_vertical_frame_2 {
	width: 480px;
    height: 450px;
	background-image: url(/tapestry/graphics/medium_rectangle_vertical_frame.png);
	background-size: 80%;
	left: 2020px;
}


/*Artboard 3*/

#ab3_birds {
	width: 480px;
    height: 450px;
	background-image: url(/tapestry/graphics/birds.png);
	left: 500px;
}

#ab3_large_frame {
	width: 680px;
    height: 650px;
	background-image: url("/tapestry/graphics/large_frame.png");
	left: 1500px;
}


/*Artboard 4*/

#ab4_medium_square_frame {
	width: 440px;
    height: 410px;
	background-image: url(/tapestry/graphics/medium_square_frame_2.png);
	left: 100px;
}

#ab4_medium_rectangle_frame_1 {
	width: 530px;
    height: 700px;
	background-image: url(/tapestry/graphics/medium_rectangle_frame_2.png);
	left: 600px;
}

#ab4_storage_cupboard {
	width: 180px;
    height: 180px;
	background-image: url(/tapestry/graphics/storage_cupboard.png);
	background-size: 80%;
	left: 1600px;
}

#ab4_medium_rectangle_frame_2 {
	width: 530px;
    height: 700px;
	background-image: url(/tapestry/graphics/medium_rectangle_frame_2.png);
	left: 2300px;
}


/*Artboard 5*/

#ab5_medium_square_frame {
	width: 440px;
    height: 410px;
	background-image: url(/tapestry/graphics/medium_square_frame_2.png);
	left: 500px;
}


#ab5_button_elements {
	height: 400px;
	min-width: 550px;
	left: 75%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#ab5_reverse_big_star {
	width: 180px;
    height: 180px;
    display: inline-block;
	background-image: url(/tapestry/graphics/reverse_big_star.png);
	background-size: 90%;
	left: 100px;
	top: 100px;
}

button#ab5_back_to_top {
	cursor: pointer;
	border: none;
	background: transparent;
	font-family: 'Poppins', sans-serif;
	text-transform: lowercase;
	font-size: 40px;
	left: 260px;
	top: 220px;
}

#ab5_next_room {
	left: 380px;
	top: 100px;
	width: 220px;
}

.ig-room-link.ig-previous-room {
	position: absolute;
	left: 1rem;
	top: 1rem;
}

#tapestry-overlay {
	z-index: 1;
	opacity: 0;
	transition: opacity 1s ease;
	pointer-events: none;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: green;
	position: fixed;
}

#tapestry-overlay.visible {
	opacity: 1;
	pointer-events: all;
}

