
body {
	margin-top: 0;	
	scroll-behavior: smooth;

}




.slide {
	width: 3000vw;
	height: 100vh;
	justify-content: center;
  	align-items: center;
  	position: relative;
	display: flex;
	min-width: 2500px;
}

#outer-wrapper {
	position: absolute;
	width: 100vh;
	height: 100vw;
	transform: rotate(-90deg) translateX(-100vh);
	transform-origin: top left;
	overflow-y: scroll;
	overflow-x: hidden;
	position: absolute;
	scrollbar-width: none;
	-ms-overflow-style: none;
	scroll-behavior: smooth;
	/*min-height: 1000px;*/

}

#wrapper {
	position: absolute;
	background-color: rgb(255, 204, 153);
	display: flex;
	flex-direction: row;
	width: 110vw;
	min-width: 12500px; /* This property dictates length of full tapestry */
	transform: rotate(90deg) translateY(-100vh);
	transform-origin: top left;
}
.one {
/*	text-align: center;*/

}


/*Artboard 1*/


#ab1_entrance { 
	position: absolute;
	width: 1000px;
    height: 250px;
	grid-area: one_frame_container; 
	justify-content: center;
/*  	align-items: center;*/
	background: url(/tapestry/graphics/tapestry_entrance.png); 
	background-size: 80%;
	background-repeat: no-repeat;
	left: 50px;
}	



#ab1_medium_frame { 
	position: absolute;
	width: 500px;
    height: 450px;
	justify-content: center;
  	align-items: center;
	background: url(/tapestry/graphics/medium_rectangle_frame.png); 
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
	left: 1500px;
}


/*Artboard 2*/


#ab2_medium_rectangle_vertical_frame_1 { 
	position: absolute;
	width: 480px;
    height: 450px;
	justify-content: center;
  	align-items: center;
	background: url(/tapestry/graphics/medium_rectangle_vertical_frame.png); 
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
	left: 0px;
}

#ab2_split_frame_1 {
	position: absolute;
	width: 400px;
    height: 550px;
	justify-content: center;
  	align-items: center;
	background: url(/tapestry/graphics/split_frame_1.png); 
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
	left: 590px;
}

#ab2_medium_frame {
	position: absolute;
	width: 500px;
    height: 650px;
	justify-content: center;
  	align-items: center;
	background: url(/tapestry/graphics/medium_rectangle_frame.png); 
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	left: 1000px;
}

#ab2_split_frame_2 {
	position: absolute;
	width: 400px;
    height: 550px;
	justify-content: center;
  	align-items: center;
	background: url(/tapestry/graphics/split_frame_1.png); 
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
	left: 1510px;
}

#ab2_medium_rectangle_vertical_frame_2 { 
	position: absolute;
	width: 480px;
    height: 450px;
	justify-content: center;
  	align-items: center;
	background: url(/tapestry/graphics/medium_rectangle_vertical_frame.png); 
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
	left: 2020px;
}


/*Artboard 3*/


#ab3_birds { 
	position: absolute;
	width: 480px;
    height: 450px;
	justify-content: center;
  	align-items: center;
	background: url(/tapestry/graphics/birds.png); 
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	left: 500px;
}

#ab3_large_frame { 
	position: absolute;
	width: 680px;
    height: 650px;
	justify-content: center;
  	align-items: center;
	background: url(/tapestry/graphics/large_frame.png); 
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	left: 1500px;
}


/*Artboard 4*/


#ab4_medium_square_frame { 
	position: absolute;
	width: 440px;
    height: 410px;
	justify-content: center;
  	align-items: center;
	background: url(/tapestry/graphics/medium_square_frame_2.png); 
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	left: 100px;
}

#ab4_medium_rectangle_frame_1 { 
	position: absolute;
	width: 530px;
    height: 480px;
	justify-content: center;
  	align-items: center;
	background: url(/tapestry/graphics/medium_rectangle_frame_2.png); 
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	left: 600px;
}

#ab4_storage_cupboard {
	position: absolute;
	width: 180px;
    height: 180px;
	justify-content: center;
  	align-items: center;
	background: url(/tapestry/graphics/storage_cupboard.png); 
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
	left: 1600px;
}

#ab4_medium_rectangle_frame_2{
	position: absolute;
	width: 530px;
    height: 480px;
	justify-content: center;
  	align-items: center;
	background: url(/tapestry/graphics/medium_rectangle_frame_2.png); 
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	left: 2300px;
}


/*Artboard 5*/


#ab5_medium_square_frame { 
	position: absolute;
	width: 440px;
    height: 410px;
	justify-content: center;
  	align-items: center;
	background: url(/tapestry/graphics/medium_square_frame_2.png); 
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	left: 500px;
}


#ab5_button_elements {
	position: absolute;
	/*text-align: center;*/
/*	justify-content: center;
  	align-items: center;*/
	height: 400px;
	min-width: 550px;
	left: 75%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#ab5_reverse_big_star { 
	position: absolute;
	width: 180px;
    height: 180px;
    display: inline-block;
	justify-content: center;
  	align-items: center;
	background: url(/tapestry/graphics/reverse_big_star.png); 
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
	left: 100px;
	top: 100px;
}

#ab5_back_to_top {
	cursor: pointer;
	position: absolute;
	width: 220px;
    height: 100px;
    display: inline-block;
	justify-content: center;
  	align-items: center;
	background: url(/tapestry/graphics/back_to_top.png); 
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	left: 270px;
	top: 190px;
}

#ab5_next_room {
	position: absolute;
	width: 220px;
    height: 100px;
    display: inline-block;
	justify-content: center;
  	align-items: center;
	background: url(/tapestry/graphics/next_room.png); 
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	left: 380px;
	top: 100px;
}

#next {
	cursor: pointer;
	width: 220px;
    height: 100px;
    position: absolute;
    display: inline-block;
	justify-content: center;
  	align-items: center;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}


/*.next_room { 
	width: 500px;
    height: 450px;
	grid-area: next_room; 
	justify-content: center;
  	align-items: center;
	background: url(graphics/button2.png); 
	font-size: 22px;
	font-family: Georgia;
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;


	text-align: center;
	margin: 0px;	
	font-size: 20px;
	font-family: Georgia;
	border: none;
	background-color: transparent;

}
*/


.next_room {
	width: 500px;
    height: 450px;
	grid-area: next_room; 
	justify-content: center;
  	align-items: center;
/*	background: url(graphics/button2.png); */
	font-size: 22px;
	font-family: Georgia;
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}


.button {
	background: url(/graphics/button2.png);
	background-size: 150px 150px;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
/*	display: grid;*/
	align-items: center;
	justify-content: center;
	margin: 0px;	
	font-size: 20px;
	font-family: Georgia;
	padding: 70px;
	border: none;
	background-color: transparent;
/*	position: relative;
	top: 0%;
	width: 0%*/
/*	transform: translateY(-50%); */
}

.button:hover {
	cursor: pointer;
	border: none;
	background: url(/graphics/button2.png);
	background-size: 157px 157px;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
/*	display: flex;*/
	align-items: center;
	justify-content: center;
	margin: 0px;	
	font-size: 22px;
	font-family: Georgia;
	padding: 70px;
	border: none;
	background-color: transparent;
/*	position: relative;
	top: 0%;
	width: 0%*/
}

.button:focus {
	outline: none;
	cursor: pointer;
}

::-webkit-scrollbar {
	display:none;
}

.ig-room-link.ig-previous-room {
	position: absolute;
	left: 0;
	top: 0;
}
