.modal {
    display: none;
    position: fixed;

    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}

.modal-content {
    position: absolute;
    width: 70%;
    height: 100%;
    left: 10%;
    background: #a4a4a4;
    padding: 4rem;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.modal.open {
    display: block;
}
