/*html {
  height: 100%;
}*/

body {
	/*min-height: 450px;*/
	margin: 0px;
}


#content {
	background-image: url('reflection/Reflection_Room_Rotation_4.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	margin: 0px;
	object-fit: cover;
	padding: 0px;
	width: 100%;
	position: absolute;
	display: grid;
	grid-template-columns: 0.5fr 0.5fr; 
	grid-template-rows: 0.5fr 0.5fr; 
	gap: 0px 0px; 
	grid-template-areas: 
    "one two" 
    "three four"; 
    min-width: 1250px;
    min-height: 695px;
}

.container {
	position: relative;
}

.one { 
	grid-area: one; 
}
.two { grid-area: two; }
.three { grid-area: three; }
.four { grid-area: four; }


/*TODO: MAX AND MIN HEIGHT FOR FRAMES*/


.frame{
	position: absolute;
	/*left: 50%;*/
  	/*transform: translate(-50%,-50%);*/
	/*text-align: center;*/
    height: 40vh;
    width: 20vw;
	/*justify-content: center;*/
	/*margin: 10%;*/
	/*margin-bottom: 70%;*/
	/*padding: 20%; */
	/*align-items: center;*/
  	background-repeat: no-repeat;
	background-position: center;
	min-height: 300px;
	min-width: 300px;
	background-size: 100%;
}

#frame1 {
	background-image: url('reflection/r4_frame2_left.png');
	bottom: 0px;
	right: 50px;	
}

#frame2 {
	background-image: url('reflection/r4_frame2_right.png');
	bottom: 0px;
	left: 50px;

}

#frame3 {
	background-image: url('reflection/r4_frame1_left.png');
	top: 30px;
	right: 100px;
}

#frame4 {
	background-image: url('reflection/r4_frame1_right.png');
	top: 30px;
	left: 100px;
}

#previous {
	background-image: url('reflection/arrow_left.png');
	left: 10px;
}

#next {
	background-image: url('/graphics/button2.png');
	right: 10px;
	position: absolute;
  	background-repeat: no-repeat;
	background-position: center;
	justify-content: center;
	height: 100px;
	width: 150px;
	background-size: 100%;
	top: -20px;
	font-size: 18px;
	font-family: Georgia;
	text-align: center;
	align-items: center;
	line-height: 100px;
}

.arrow {
	position: absolute;
  	background-repeat: no-repeat;
	background-position: center;
	justify-content: center;
	height: 140px;
	width: 200px;
	background-size: 150%;
	top: 0px;
}

