/*html {
  height: 100%;
}*/

body {
	/*min-height: 400px;*/
	margin: 0px;
}

a {
	cursor: pointer;
}

#content {
	background-image: url('reflection/Reflection_Room_Rotation_1.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	margin: 0px;
	object-fit: cover;
	padding: 0px;
	width: 100%;
	position: absolute;
	display: grid;
	grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr; 
	grid-template-rows: 1fr; 
	gap: 0px 0px; 
	grid-template-areas: 
    "one two three four"; 
    /*min-height: 80px;*/
    /*min-height: 800px;*/
    min-width: 1330px;
    min-height: 650px;
    /*max-height: 1500px;*/
}

.reflection-container {
	position: relative;
	/*min-width: 320px;*/
}

.one { 
	grid-area: one; 
}
.two { grid-area: two; }
.three { grid-area: three; }
.four { grid-area: four; }

.frame {
	position: absolute;
	height: 40vh;
    width: 20vw;
  	background-repeat: no-repeat;
	background-position: center;
	min-height: 275px;
	min-width: 275px;

	background-size: 80%;
}

#frame1 {
	background-image: url('reflection/r1_frame1_left.png');
	left: 0px;
}

#next {
	position: absolute;
  	background-repeat: no-repeat;
	background-position: center;
	justify-content: center;
	height: 130px;
	width: 200px;
	background-size: 200%;
	background-image: url('reflection/arrow_right.png');
	bottom: 20px;
	right: 40px;
/*	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;*/
}

#frame4 {
	background-image: url('reflection/r1_frame1_right.png');
	right: 0px;
}

#frame2 {
	background-image: url('reflection/r1_frame2_left.png');
	right: -40px;
	top: 150px;
}

#frame3 {
	background-image: url('reflection/r1_frame2_right.png');
	left: -40px;
	top: 150px;
}
