#previous-reflection {
	background-image: url('reflection/rotate_arrow_anticlockwise.png');
	left: 0;
	bottom: 0;
}

#next-reflection {
	background-image: url('reflection/rotate_arrow_clockwise.png');
	right: 0;
	bottom: 0;
}

.rotate-arrow {
	position: absolute;
  	background-repeat: no-repeat;
	background-position: center;
	height: 80px;
	width: 80px;
	background-size: 100%;
}

.plinth {
	background-image: url('reflection/R1/R1_PLINTH_LHS.png');
	width: 176px;
	height: 187px;
	background-size: 100%;
	position: absolute;
}

.plinth-right {
	background-image: url('reflection/R1/R1_PLINTH_RHS.png');
}
