body {
	margin: 0px;
}

a {
	cursor: pointer;
}

#content {
	background-image: url('reflection/Reflection_Room_Rotation_1.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	margin: 0px;
	object-fit: cover;
	padding: 0px;
	width: 100%;
	position: absolute;
	display: grid;
	grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr; 
	grid-template-rows: 1fr; 
	gap: 0px 0px; 
	grid-template-areas: 
    "one two three four"; 
    min-width: 1330px;
    min-height: 650px;
}

.reflection-container {
	position: relative;
}

.one { 
	grid-area: one; 
}
.two { grid-area: two; }
.three { grid-area: three; }
.four { grid-area: four; }

.frame {
	position: absolute;
  	background-repeat: no-repeat;
	background-position: center;

	background-size: 100%;
}

#frame1 {
	background-image: url('reflection/R1/R1_F1_LHS.png');
	width: 220px;
	height: 193px;
	left: 30px;
	top: 150px;
}

#frame2 {
	background-image: url('reflection/R1/R1_F2_LHS.png');
	width: 227px;
	height: 324px;
	right: 20px;
	top: 40px;
}

#frame3 {
	background-image: url('reflection/R1/R1_F2_RHS.png');
	width: 227px;
	height: 324px;
	left: 20px;
	top: 40px;}

#frame4 {
	background-image: url('reflection/R1/R1_F1_RHS.png');
	width: 220px;
	height: 193px;
	right: 30px;
	top: 150px;
}

.plinth {
	background-image: url('reflection/R1/R1_PLINTH_LHS.png');
	width: 176px;
	height: 187px;
	background-size: 100%;
	position: absolute;
}

.plinth-left {
	right: -70px;
	bottom: -10px;
}

.plinth-right {
	background-image: url('reflection/R1/R1_PLINTH_RHS.png');
	left: -70px;
	bottom: -10px;
}
