#previous-reflection {
	background-image: url('reflection/rotate_arrow_anticlockwise.png');
	left: 0;
	bottom: 0;
}

#next-reflection {
	background-image: url('reflection/rotate_arrow_clockwise.png');
	right: 0;
	bottom: 0;
}

.rotate-arrow {
	position: absolute;
  	background-repeat: no-repeat;
	background-position: center;
	height: 80px;
	width: 80px;
	background-size: 100%;
}
