#map-background {
    height: 100vh;
}

.map-container {
    position: relative;
}

.map-background {
    position: absolute;
    width: 100%;
    height: 100%;

    background-image: url('10-11-22-map.png');
    background-size: auto 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.map-overlay {
    display: flex;
    justify-content: center;
    position: relative; /* Makes it appear over .map-background (without hacking z-index) */
}

.map-room-section {
    fill: transparent;
}

.map-room-link:hover .map-room-section {
    fill: yellow;
    opacity: 0.5;
}

.map-room-name {
    fill: white;
    stroke: none;
}

.map-room-link:hover .map-room-name {
    fill: yellow;
}

/* TODO: at small breakpoint you can't see the left hand side of the map */
