@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: auto;
}

a.ig-link {
    text-decoration: none;
    color: #93bdd6;
}

a.ig-link:hover {
    text-decoration: underline;
    color: #d4e63d;
}

a.ig-room-link {
    padding: 1rem;
}

a.ig-white-link {
    color: white;
}

a.ig-link.ig-dark-link {
	color: #201e59;
}

a.ig-link.ig-dark-link:hover {
	color: #706ccd;
}

.ig-next-room {
    text-align: right;
}

.ig-room-arrow {
    padding-left: 1rem;
    height: 0.8rem;
}

.ig-previous-room .ig-room-arrow {
    transform: scale(-1);
}
