.homepage-background {
	background-image: url(/graphics/210712-Fountain-with-background.gif);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
    min-height: 100vh;

}

.homepage-nav {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    height: 100vh;
}

.homepage-button {
    width: 120px;
    height: 120px;
    place-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/graphics/button2.png);
	background-size: 120px 120px;
	background-repeat: no-repeat;
	background-position: center;
    text-align: center;
    text-transform: lowercase;
}

a.homepage-button {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    text-decoration: none;
}

.homepage-button:hover {
    transform: scale(1.05);
}
