/*html {
  height: 100%;
}*/

body {
	/*min-height: 400px;*/
	margin: 0px;
}


#content {
	background-image: url('graphics/reflection/Reflection_Room_Rotation_1.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	margin: 0px;
	object-fit: cover;
	padding: 0px;
	width: 100%;
	position: absolute;
	display: grid;
	grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr; 
	grid-template-rows: 1fr; 
	gap: 0px 0px; 
	grid-template-areas: 
    "one two three four"; 
    /*min-height: 80px;*/
    /*min-height: 800px;*/
    min-width: 1280px;
    min-height: 800px;
    max-height: 1500px;
}

.container {
	position: relative;
	min-width: 320px;
}

.one { 
	grid-area: one; 
}
.two { grid-area: two; }
.three { grid-area: three; }
.four { grid-area: four; }

.frame {
	position: absolute;
	height: 250px;
    width: 250px;
  	background-repeat: no-repeat;
	background-position: center;
	min-height: 300px;
	/*max-height: 600px;*/

	background-size: 90%;
}

#frame1 {
	background-image: url('graphics/reflection/r1_frame1_left.png');
	left: 0px;
/*	bottom: 0px;
	right: 100px;	*/
/*	position: relative;
	text-align: center;
    height: 200px;
	justify-content: center;
	margin-top: 10%;*/
	/*margin-bottom: 70%;*/
/*	padding: 20%; 
	align-items: center;*/
/*  	align-items: center;*/
/*	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;*/
}

#frame4 {
	background-image: url('graphics/reflection/r1_frame1_right.png');
	right: 0px;
/*	position: relative;
	text-align: center;
    height: 200px;
	justify-content: center;
	margin-top: 10%;*/
	/*margin-bottom: 70%;*/
	/*padding: 20%; 
	align-items: center;*/
/*  	align-items: center;*/
/*	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;*/
}

#frame2 {
	background-image: url('graphics/reflection/r1_frame2_left.png');
	right: 0px;
/*	position: relative;
	text-align: center;
    height: 200px;
	justify-content: center;
	margin-top: 25%;*/
	/*margin-bottom: 70%;*/
/*	padding: 20%; 
	align-items: center;*/
/*  	align-items: center;*/
/*	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;*/
}

#frame3 {
	background-image: url('graphics/reflection/r1_frame2_right.png');
	left: 0px;
/*	position: relative;
	text-align: center;
    height: 200px;
	justify-content: center;
	margin-top: 25%;*/
	/*margin-bottom: 70%;*/
/*	padding: 20%; 
	align-items: center;*/
/*  	align-items: center;*/
/*	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;*/
}

