/*html {
  height: 100%;
}*/

body {
	min-height: 450px;
	margin: 0px;
}


#content {
	background-image: url('graphics/reflection/Reflection_Room_Rotation_3.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	margin: 0px;
	object-fit: cover;
	padding: 0px;
	width: 100%;
	position: absolute;
	display: grid;
	grid-template-columns: 0.20fr 0.30fr 0.30fr 0.20fr; 
	grid-template-rows: 1fr; 
	gap: 0px 0px; 
	grid-template-areas: 
    "one two three four"; 
    min-height: 450px;
}

.one { 
	grid-area: one; 
}
.two { grid-area: two; }
.three { grid-area: three; }
.four { grid-area: four; }

#frame1 {
	background-image: url('graphics/reflection/r3_frame1_left.png');
	position: relative;
	text-align: center;
    height: 200px;
	justify-content: center;
	margin-top: 10%;
	/*margin-bottom: 70%;*/
	padding: 20%; 
	align-items: center;
/*  	align-items: center;*/
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
}

.frame {
	top: 250px;
}

#frame4 {
	background-image: url('graphics/reflection/r3_frame1_right.png');
	position: relative;
	text-align: center;
    height: 200px;
	justify-content: center;
	margin-top: 10%;
	/*margin-bottom: 70%;*/
	padding: 20%; 
	align-items: center;
/*  	align-items: center;*/
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
}

#frame2 {
	background-image: url('graphics/reflection/r3_frame2_left.png');
	position: relative;
	text-align: center;
    height: 200px;
	justify-content: center;
	margin-top: 25%;
	/*margin-bottom: 70%;*/
	padding: 20%; 
	align-items: center;
/*  	align-items: center;*/
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
}

#frame3 {
	background-image: url('graphics/reflection/r3_frame2_right.png');
	position: relative;
	text-align: center;
    height: 200px;
	justify-content: center;
	margin-top: 25%;
	/*margin-bottom: 70%;*/
	padding: 20%; 
	align-items: center;
/*  	align-items: center;*/
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
}
